@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,latin-ext,cyrillic);
textarea {
  resize: none; }

div {
  box-sizing: border-box; }

.inner-section {
  height: auto; }

.content__inner {
  height: auto; }

.footer_inner {
  position: relative; }

.page {
  position: relative;
  min-height: 100%;
  width: 100%;
  overflow: hidden; }
  @media all and (max-width: 1070px) {
    .page {
      overflow: hidden; } }

.accordion__term.active + .accordion__designation {
  height: auto; }

.feedback__links-item_call {
  background: transparent; }

#mobile-indicator {
  display: block; }
  @media all and (min-width: 1070px) {
    #mobile-indicator {
      display: none; } }

.my-mfp-slide-bottom.mfp-ready.mfp-bg {
  opacity: 0.7; }

.n-phone {
  background: #cba05b;
  width: 100px;
  height: 80px;
  float: right;
  cursor: pointer;
  margin-top: -15px; }

.n-pop-btn {
  box-shadow: 0px 1px 5.88px 1.12px rgba(1, 2, 2, 0.3);
  background: #cba05b;
  font-size: 14px;
  color: #fff;
  text-align: center;
  display: inline-block;
  padding: 13px 40px;
  transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear; }
  .n-pop-btn:hover {
    background: #b9883b; }

@media all and (max-width: 1070px) {
  a:visited {
    color: inherit; }
  html {
    font-size: 62.5%;
    height: 100%; }
  body {
    min-width: 440px;
    position: relative;
    height: 100%; }
  .n-phone {
    height: 76px;
    margin-top: 0; }
  .anchor {
    display: none; }
  .n-btn-container {
    text-align: center; }
  .n-btn {
    display: inline-block;
    text-align: center;
    padding: 12px 20px;
    background: #00a651;
    font-size: 16px;
    font-weight: 300;
    box-shadow: 0px 1px 5.88px 1.12px rgba(1, 2, 2, 0.3);
    transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    cursor: pointer; } }
  @media all and (max-width: 1070px) and (max-width: 1070px) {
    .n-btn {
      font-size: 26px; } }

@media all and (max-width: 1070px) {
    .n-btn:hover {
      background: #007338; }
  .n-more {
    background: #fff;
    margin: 0px -30px;
    text-align: center;
    padding: 12px 0px 30px 0px;
    cursor: pointer; }
    .n-more span {
      color: #cba05b;
      position: relative; }
      .n-more span:after {
        display: block;
        content: '';
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #cba05b;
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        bottom: -18px; }
  .cd-section {
    height: auto; }
    .cd-section > div {
      height: auto;
      min-height: 0;
      background-position-x: -220px; }
  .main {
    padding-top: 40px; }
  .main-title {
    margin-left: -5px;
    margin-bottom: 35px; } }
  @media all and (max-width: 1070px) and (max-width: 550px) {
    .main-title {
      font-size: 4rem; } }

@media all and (max-width: 1070px) {
  .table_narrow {
    max-width: 100%; }
  .table tr td:first-of-type {
    width: 25%; }
  .n-mob-info {
    background: #252525;
    padding: 12px 40px 12px 10px;
    color: #cba05b;
    text-align: right;
    font-family: "roboto";
    font-size: 1.6rem; }
    .n-mob-info i {
      font-style: normal;
      padding-right: 10px; }
  .n-burger {
    width: 92px;
    height: 76px;
    background: #272d3d;
    float: right;
    position: relative;
    cursor: pointer; }
    .n-burger__line {
      width: 40px;
      height: 4px;
      background: #cba05b;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      transition: all 0.15s linear;
      -webkit-transition: all 0.15s linear;
      -moz-transition: all 0.15s linear; }
    .n-burger:before {
      display: block;
      content: '';
      width: 40px;
      height: 4px;
      background: #cba05b;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      top: 25px;
      transition: all 0.15s linear;
      -webkit-transition: all 0.15s linear;
      -moz-transition: all 0.15s linear; }
    .n-burger:after {
      display: block;
      content: '';
      width: 40px;
      height: 4px;
      background: #cba05b;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      bottom: 25px;
      transition: all 0.15s linear;
      -webkit-transition: all 0.15s linear;
      -moz-transition: all 0.15s linear; }
    .n-burger--active .n-burger__line {
      width: 0; }
    .n-burger--active:before {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      top: 36px; }
    .n-burger--active:after {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      bottom: 36px; }
  .header {
    height: auto;
    padding: 0px;
    min-width: 440px;
    z-index: 14;
    position: absolute; }
    .header .logo {
      width: 163px;
      height: 41px;
      background: url("../img/n-logo.png");
      margin-top: 18px; }
      .header .logo img {
        display: none; }
    .header .container {
      position: absolute;
      min-width: 274px;
      width: auto;
      background: #272d3d;
      right: -9999px;
      top: 76px;
      z-index: 2;
      padding: 52px 30px 52px 30px; }
      .header .container li {
        float: none;
        text-align: right;
        display: block; }
      .header .container .main-navigation__item {
        font-size: 1.6rem;
        padding: 8px 10px 8px 0; }
      .header .container .main-navigation__list {
        float: none;
        display: block; }
      .header .container .main-navigation__tel {
        display: none; }
  .feedback {
    height: 76px;
    top: 47px; }
  .feedback__links-item {
    height: 76px; }
  .feedback__links-item_call svg {
    height: 76px; }
  .cd-section__inner .container {
    padding-right: 30px; }
  #prices > div {
    background: #eeeeee; }
  #prices .subtitle {
    padding-bottom: 20px;
    margin-bottom: 30px; }
  #prices .n-btn {
    width: 100%;
    font-size: 26px; }
  #prices .table_striped thead {
    display: none; }
  #prices .table_striped tr td {
    padding: 13px 10px; }
    #prices .table_striped tr td:first-child {
      width: 52%;
      padding-right: 27px; }
    #prices .table_striped tr td:nth-child(2) {
      display: none; }
    #prices .table_striped tr td:nth-child(3) {
      display: none; }
    #prices .table_striped tr td:nth-child(4) {
      font-family: "robotobold"; }
    #prices .table_striped tr td:last-child {
      display: none; }
  #application > div {
    background: #eeeeee; }
  #application .container {
    padding-top: 65px; }
  #reviews > div {
    background: #eeeeee; }
  #reviews .container {
    padding-top: 50px; }
  #reviews .slick-slider .slick-slide {
    float: none;
    opacity: 1 !important;
    left: 0 !important; }
  #reviews .slick-slider {
    overflow: hidden;
    height: 404px;
    margin: 0px -30px; }
    #reviews .slick-slider .list__item {
      background: #f3f3f3;
      color: #333333;
      margin: 0;
      border-bottom: 1px solid #d9d9d9;
      padding: 20px 10px 20px 10px;
      overflow: hidden;
      cursor: pointer; }
    #reviews .slick-slider .list__img {
      background: none;
      float: left;
      position: static;
      padding: 0;
      margin-left: 15px;
      width: auto; }
      #reviews .slick-slider .list__img img {
        width: 60px; }
    #reviews .slick-slider .list__content {
      margin-left: 90px;
      margin-bottom: 0px;
      padding-bottom: 0px; }
  #reviews .slick-dots {
    display: none !important; }
  #reviews .slick-prev {
    display: none !important; }
  #reviews .slick-next {
    display: none !important; }
  #reviews .btn_group {
    text-align: justify;
    padding-top: 17px; }
    #reviews .btn_group a {
      display: inline-block;
      padding: 12px 20px;
      width: 46%;
      font-weight: 300;
      font-size: 16px; } }
    @media all and (max-width: 1070px) and (max-width: 1070px) {
      #reviews .btn_group a {
        font-size: 26px; } }

@media all and (max-width: 1070px) {
    #reviews .btn_group:after {
      content: '';
      width: 100%;
      display: inline-block; }
  #faq > div {
    background: #eeeeee; }
  #faq .container {
    padding-top: 50px; }
  #faq .slick-dots {
    display: none !important; }
  #faq .slick-arrow {
    display: none !important; }
  #faq .slick-slide {
    float: none;
    left: 0 !important;
    opacity: 1 !important;
    outline: none; }
  #faq .accordion {
    margin: 0; }
  #faq .accordion__term.active + .accordion__designation {
    height: auto !important;
    border-bottom: 1px solid #666666; }
  #faq .accordion__term.active + .accordion__designation {
    padding: 0; }
  #faq .accordion__designation p {
    padding: 15px 60px 15px 25px; }
  #faq .content__wrapper {
    margin: 35px -30px 0px -30px;
    height: 196px;
    overflow: hidden;
    background: #333333; }
  #faq .slick-list {
    padding: 0px 30px; }
  #faq .accordion__term {
    margin-top: 0;
    border-bottom: 1px solid #666666;
    padding-left: 0; }
  #faq .accordion__term.active {
    box-shadow: none; }
  #faq .btn_group {
    text-align: justify;
    padding-top: 17px; }
    #faq .btn_group a {
      display: inline-block;
      padding: 12px 20px;
      width: 46%;
      font-weight: 300;
      font-size: 16px; } }
    @media all and (max-width: 1070px) and (max-width: 1070px) {
      #faq .btn_group a {
        font-size: 26px; } }

@media all and (max-width: 1070px) {
    #faq .btn_group:after {
      content: '';
      width: 100%;
      display: inline-block; }
  #howcheck > div {
    background: #eeeeee; }
  #howcheck .container {
    padding-top: 50px; }
  #howcheck .subtitle {
    margin-bottom: 30px; }
  #howcheck .table tr td {
    padding: 15px 15px; }
    #howcheck .table tr td:first-child {
      display: none; }
  #vip > div {
    background: #eeeeee; }
  #vip .container {
    padding-top: 50px; }
  #vip .table_narrow-long {
    max-width: 100%; }
  #vip .table_inline {
    margin-right: 0; }
  #vip .accordion {
    background: #333333;
    margin: 0px -30px;
    padding: 0px 25px;
    margin-top: 30px; }
    #vip .accordion__term {
      padding-left: 5px;
      border-bottom: 1px solid #666666; }
    #vip .accordion__designation {
      border-bottom: 1px solid #666666; }
  #vip .n-btn-container {
    padding: 30px 0px; }
    #vip .n-btn-container a {
      width: 90%; }
  .n-section__bottom {
    text-align: center;
    background: rgba(70, 70, 70, 0.5);
    font-size: 16px;
    padding: 42px 0px 15px 0px;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 0px 1px 5.88px 1.12px rgba(1, 2, 2, 0.3); }
    .n-section__bottom:hover span {
      text-decoration: none; }
    .n-section__bottom span {
      text-decoration: underline;
      position: relative; }
      .n-section__bottom span:before {
        display: block;
        content: '';
        width: 29px;
        height: 26px;
        background: url("../icons/ico_form.svg");
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        top: -28px; }
  .footer {
    position: static;
    height: auto;
    background: #eeeeee;
    color: #333333; }
    .footer a.info-link:link {
      color: #333333; }
    .footer .skipo {
      display: none; }
    .footer .content-title {
      margin: 10px 0px; }
    .footer .social {
      color: #cba05b; }
  .footer-bottom {
    background: rgba(70, 70, 70, 0.8);
    box-shadow: 0px 1px 5.88px 1.12px rgba(1, 2, 2, 0.3);
    padding: 30px;
    overflow: hidden;
    font-size: 16px; }
    .footer-bottom__l {
      float: left; }
    .footer-bottom__r {
      float: right; }
  .map {
    height: 465px; }
  .feedback {
    z-index: 14;
    position: static; }
  .feedback__form_order {
    top: 123px;
    background: #eeeeee;
    width: 100%;
    z-index: 13;
    color: #333333;
    position: absolute;
    height: auto;
    left: 100%;
    display: block;
    transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear; } }
  @media all and (max-width: 1070px) and (max-width: 1070px) {
    .feedback__form_order {
      right: -100%; } }

@media all and (max-width: 1070px) {
    .feedback__form_order label {
      color: #333333; }
    .feedback__form_order .form {
      height: auto; }
    .feedback__form_order__header {
      color: #cba05b;
      font-size: 30px;
      text-transform: uppercase;
      padding-left: 10px;
      padding-bottom: 30px;
      position: relative;
      margin-bottom: 45px; }
      .feedback__form_order__header:after {
        display: block;
        content: '';
        width: 86px;
        height: 6px;
        background: #cba05b;
        position: absolute;
        left: 10px;
        bottom: 0; }
    .feedback__form_order .form {
      text-align: justify; }
      .feedback__form_order .form:after {
        content: '';
        display: inline-block;
        width: 100%; }
      .feedback__form_order .form__label {
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 15px; }
      .feedback__form_order .form__field {
        margin-bottom: 15px; }
      .feedback__form_order .form input {
        height: 46px; }
      .feedback__form_order .form select {
        height: 46px; }
    .feedback__form_order .form {
      padding: 0px 10px; }
    .feedback__form_order .form__group {
      margin-left: 0;
      margin-right: 0; }
    .feedback__form_order .form__group_half {
      margin-right: 12%; }
      .feedback__form_order .form__group_half + .form__group_half {
        margin-right: 0; }
    .feedback__form_order a.content-link:link {
      color: #333333; }
    .feedback__form_order .form__group_check input[type="checkbox"] + span {
      background: url("../icons/checkbox.png") 0px -28px; }
    .feedback__form_order .form__group_check input[type="checkbox"]:checked + span {
      background: url("../icons/checkbox.png") 0px 0px; }
    .feedback__form_order .form__group_stick label {
      float: right; }
    .feedback__form_order .form__group_check {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 30px; }
      .feedback__form_order .form__group_check label {
        display: inline-block;
        font-weight: 700;
        font-size: 18px; }
    .feedback__form_order .feedback__form-close {
      display: none; }
    .feedback__form_order .n-pop-order__reverse {
      top: 123px; }
  .feedback__form_call {
    position: absolute;
    z-index: 14;
    display: block;
    width: 100%;
    left: 100%;
    transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear; }
    .feedback__form_call .form {
      height: auto; }
    .feedback__form_call--active {
      left: 0; }
  .content-link {
    color: #333333; }
  .feedback__form.active {
    left: 0; } }
  @media all and (max-width: 1070px) and (max-width: 1070px) {
    .feedback__form.active {
      left: auto;
      right: -100%; } }

@media all and (max-width: 1070px) {
  .feedback__form.active2 {
    left: 0; }
  .feedback__links-item__inner {
    display: none; }
  .feedback__form {
    top: 0; }
    .feedback__form__header {
      background: #2a2a2a;
      margin: 0px -10px;
      padding: 23px 90px 23px 20px;
      font-size: 16px;
      text-transform: uppercase;
      margin-bottom: 55px; }
  .feedback__form_call {
    padding-top: 0; }
  .feedback__form_order {
    padding-top: 190px; }
    .feedback__form_order .feedback__form-close {
      top: 140px; }
  .feedback__links-item {
    display: none; }
  .feedback__form-links {
    font-size: 18px; }
    .feedback__form-links .form__label {
      color: #333333;
      font-family: 'roboto';
      font-weight: 700;
      margin-bottom: 15px; }
    .feedback__form-links p {
      margin-bottom: 15px; }
    .feedback__form-links p a {
      color: #333333; }
  .feedback__form_call {
    padding-right: 10px;
    padding-left: 10px;
    background: #dde2e8; }
    .feedback__form_call .feedback__form-close {
      background: url("../icons/cross-big.png");
      width: 36px;
      height: 36px;
      top: 17px;
      right: 30px; }
      .feedback__form_call .feedback__form-close svg {
        display: none; }
    .feedback__form_call .form__label {
      color: #333333;
      font-size: 18px;
      font-family: 'roboto';
      font-weight: 700;
      margin-bottom: 15px; }
    .feedback__form_call .form input:not([type="submit"]) {
      border: 1px solid #333333;
      height: 46px; }
    .feedback__form_call .form input[type="submit"] {
      padding: 13px 0px; }
    .feedback__form_call .form textarea {
      border: 1px solid #333333;
      height: 180px;
      margin-bottom: 24px; } }

@media all and (min-width: 1070px) {
  .n-more {
    display: none; }
  .n-mob-info {
    display: none; }
  .n-section__bottom {
    display: none; }
  .n-btn-container {
    display: none; }
  .footer-bottom {
    display: none; }
  .feedback__form__header {
    display: none; } }

@media all and (max-width: 1070px) {
  .my-mfp-slide-bottom.mfp-ready.mfp-bg {
    background: transparent; } }

.n-pop-close {
  width: 15px;
  height: 15px;
  background: url("../icons/cross.png");
  position: absolute;
  right: -40px;
  top: 0;
  cursor: pointer; }

.n-pop-order {
  max-width: 410px;
  margin: 0px auto;
  display: none;
  position: relative;
  transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear; }
  @media all and (max-width: 1070px) {
    .n-pop-order {
      display: block;
      position: absolute;
      z-index: 13;
      top: 122px;
      left: 0;
      width: 100%;
      min-height: 100%;
      max-width: 100%;
      background: #fff;
      left: 100%; } }
  .n-pop-order--active {
    left: 0; }
  .n-pop-order__reverse {
    position: absolute;
    width: 100%;
    background: #e4e4e4;
    top: 0;
    left: 0;
    padding: 10px 0px 10px 90px;
    font-size: 16px;
    color: #666666;
    text-transform: uppercase;
    font-family: roboto;
    cursor: pointer;
    display: none; }
    @media all and (max-width: 1070px) {
      .n-pop-order__reverse {
        display: block; } }
    .n-pop-order__reverse:before {
      display: block;
      content: '';
      width: 34px;
      height: 22px;
      background: url("../icons/gold-arrow-left.png");
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 40px; }
  @media all and (max-width: 1070px) {
    .n-pop-order__container {
      padding: 94px 40px 30px 40px; } }
  @media all and (max-width: 1070px) {
    .n-pop-order .n-pop-close {
      display: none; } }
  .n-pop-order__header {
    font-size: 30px;
    text-transform: uppercase;
    color: #cba05b;
    font-family: arial;
    text-align: center;
    padding-bottom: 32px;
    position: relative; }
    @media all and (max-width: 1070px) {
      .n-pop-order__header {
        text-align: left;
        padding-bottom: 32px;
        margin-bottom: 40px; }
        .n-pop-order__header:after {
          display: block;
          content: '';
          width: 86px;
          height: 6px;
          background: #cba05b;
          position: absolute;
          bottom: 0;
          left: 0; } }
  .n-pop-order__data {
    border-bottom: 1px solid #555555; }
  .n-pop-order__cost {
    text-align: right;
    font-size: 16px;
    font-family: 'RobotoBold';
    padding-top: 12px;
    margin-bottom: 10px; }
    @media all and (max-width: 1070px) {
      .n-pop-order__cost {
        color: #333333; } }
  .n-pop-order__field {
    overflow: hidden;
    margin-bottom: 13px; }
    .n-pop-order__field__l {
      float: left;
      width: 50%;
      padding-right: 20px;
      font-size: 16px;
      font-family: 'RobotoBold';
      font-weight: 700; }
      @media all and (max-width: 1070px) {
        .n-pop-order__field__l {
          color: #333333; } }
    .n-pop-order__field__r {
      float: left;
      width: 50%;
      font-size: 14px; }
      @media all and (max-width: 1070px) {
        .n-pop-order__field__r {
          color: #333333; } }
  .n-pop-order__payment {
    margin-bottom: 35px; }
  .n-pop-order__check {
    margin-bottom: 18px; }
    .n-pop-order__check label {
      display: block;
      overflow: hidden;
      position: relative; }
      .n-pop-order__check label input {
        display: block;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
        position: absolute;
        left: 0;
        top: 0;
        cursor: pointer; }
        .n-pop-order__check label input:checked + div:after {
          display: block; }
      .n-pop-order__check label div {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: #fff;
        position: relative;
        float: left;
        margin-right: 25px; }
        @media all and (max-width: 1070px) {
          .n-pop-order__check label div {
            border: 1px solid #555555; } }
        .n-pop-order__check label div:after {
          display: block;
          content: '';
          width: 8px;
          height: 8px;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          background: #00a651;
          border-radius: 50%;
          display: none; }
      .n-pop-order__check label span {
        float: left;
        font-family: Roboto;
        font-weight: 300;
        font-size: 18px;
        margin-top: -5px; }
        @media all and (max-width: 1070px) {
          .n-pop-order__check label span {
            color: #555555; } }
  .n-pop-order__subheader {
    font-size: 16px;
    font-family: "PT Sans", arial, sans-serif;
    font-weight: 700;
    color: #cba05b;
    margin-bottom: 25px; }
  .n-pop-order .n-pop-btn {
    width: 80%; }
    @media all and (max-width: 1070px) {
      .n-pop-order .n-pop-btn {
        width: 100%; } }
  .n-pop-order .n-btn-container {
    display: block;
    text-align: center; }

.mfp-content > div {
  display: block; }

.inner-section .cd-section {
  height: 1000px; }
  .inner-section .cd-section > div {
    -webkit-transform: none !important;
            transform: none !important; }
    .inner-section .cd-section > div .footer .container_stick {
      padding-top: 0; }
    .inner-section .cd-section > div .footer .skipo {
      margin-top: 72px; }

.inner-section .container {
  padding-top: 80px;
  background: #eeeeee; }

.inner-section .content__inner {
  background: #eeeeee;
  color: #000;
  font-size: 18px;
  padding-left: 0;
  padding-right: 0; }

.inner-section .container {
  padding-top: 120px; }

.inner-section .container.container_stick {
  background: none; }

.n-pop-response {
  height: 100%; }
  .n-pop-response__header {
    background: #000;
    height: 70px;
    background: #000;
    position: relative; }
    .n-pop-response__header .n-pop-response__container {
      height: 100%;
      position: relative; }
  .n-pop-response__close {
    width: 36px;
    height: 36px;
    background: url("../icons/cross-big.png");
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 40px;
    cursor: pointer; }
  .n-pop-response__container {
    position: relative;
    padding: 0px 40px; }
  .n-pop-response__wrap {
    background: #dde2e8;
    min-height: 100%; }
    .n-pop-response__wrap p {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 5px;
      color: #333333; }
    .n-pop-response__wrap span {
      font-size: 18px;
      display: block;
      color: #333333; }
    .n-pop-response__wrap .n-pop-response__container {
      padding-top: 50px;
      padding-bottom: 50px; }

.mfp-container {
  padding: 0; }

.mfp-wrap {
  position: absolute !important;
  height: auto;
  min-height: 100%; }
